/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/resources/demo_1
/public/libs/admin/node_modules
/public/libs/admin/assets/vendors
/public/libs/sbadmin
/public/libs/bootstrap
/public/libs/datatables
/public/libs/fontawesome
/public/libs/jquery
/.DS_Store
relationed_database.sql
